<main>  
<!--Wrap main chính-->    
   <div class="main">

<!--Section-->    
    <!--Section 1--> 
     <div class="section">
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">
            <span >
                <i class="fa-solid fa-laptop fa-xl" style="margin-right: 2%;"></i> Laptop
           </span> 
        </li></a> 
        <!--Section 2--> 
        <a href="" style="color: black; text-decoration:none"> 
        <li class="menu-item"> 
            <span >
                <i class="fa-solid fa-laptop fa-xl" style="margin-right: 2%;"></i> Laptop Gaming
           </span> 
        </li></a>
        <!--Section 3--> 
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">  
            <span >
                <i class="fa-solid fa-computer fa-xl" style="margin-right: 2%;"></i> PC Special
           </span> 
        </li></a>
        <!--Section 4--> 
        <a href="" style="color: black; text-decoration:none"> 
        <li class="menu-item"> 
            <span >
                <i class="fa-solid fa-computer fa-xl" style="margin-right: 2%;"></i> PC GEARVN Intel
           </span> 
        </li></a>
        <!--Section 5-->
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">  
            <span >
                <i class="fa-solid fa-computer fa-xl" style="margin-right: 2%;"></i> PC GEARVN 
           </span> 
        </li></a>
        <!--Section 6--> 
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">  
            <span >
                <i class="fa-solid fa-handshake fa-xl" style="margin-right: 2%;"></i> PC Doanh Nghiệp
           </span> 
        </li></a>
        <!--Section 7--> 
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item"> 
            <span >
                <i class="fa-solid fa-gamepad fa-xl" style="margin-right: 2%;"></i> Linh kiện PC
           </span> 
        </li></a>
        <!--Section 8--> 
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">  
            
            <span >
                <i class="fa-brands fa-apple fa-xl" style="margin-right: 2%;"></i> Apple
           </span> 
        </li></a>
        <!--Section 9--> 
        <a href="" style="color: black; text-decoration:none"> 
        <li class="menu-item">  
            <span >
                <i class="fa-solid fa-desktop fa-xl" style="margin-right: 2%;"></i> Màn hình
           </span> 
        </li></a>
        <!--Section 10--> 
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">    
            <span >
                <i class="fa-regular fa-keyboard fa-xl" style="margin-right: 2%;"></i> Bàn phím
           </span> 
        </li></a>
        <!--Section 11--> 
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">    
            <span >
                <i class="fa-solid fa-computer-mouse fa-xl" style="margin-right: 2%;"></i> Chuột + lót chuột
           </span> 
        </li></a>
        <!--Section 12--> 
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">            
            <span >
                <i class="fa-solid fa-headphones fa-xl" style="margin-right: 2%;"></i> Tai nghe + Loa
           </span> 
        </li></a>
        <!--Section 13--> 
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">    
            <span >
                <i class="fa-solid fa-chair fa-xl" style="margin-right: 2%;"></i> Ghế - Bàn
           </span> 
        </li></a>
        <!--Section 14-->
        <a href="" style="color: black; text-decoration:none">
        <li class="menu-item">           
            <span>
                <i class="fa-solid fa-network-wired fa-xl" style="margin-right: 2%;"></i> Phần mềm & Mạng
           </span> 
        </li></a>
        <!--Section 15-->
        <a href="" style="color: black; text-decoration:none"> 
        <li class="menu-item">  
            <span >
                <i class="fa-solid fa-hard-drive fa-xl" style="margin-right: 2%;"></i> Phụ kiện
           </span> 
        </li></a>
        <!--Section 16--> 
        <a href="" style="color: black; text-decoration:none"> 
        <li class="menu-item">
            <span >
                <i class="fa-solid fa-coins fa-xl" style="margin-right: 2%;"></i> Xả kho giá tốt
           </span> 
        </li></a>
     </div>

     

<!--Nav và quảng cáo-->       
        <div class="main-top">
            <!-- Slideshow container  -->
            <div class="slideshow-container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                </ol>
                <!-- Các banner QC  -->
                <div class="carousel-inner">
                    <!-- banner QC 1 -->
                    <div class="carousel-item active" >
                       <a href="#"><img  class="d-block w-100" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_1.jpg?v=34697" alt="First slide"></a>
                    </div>

                     <!-- banner QC 2 -->
                  <div class="carousel-item">
                    <a href="#"><img class="d-block w-100" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_2.jpg?v=34697" alt="Second slide"></a>
                  </div>

                    <!-- banner QC 3 -->
                  <div class="carousel-item">
                    <a href="#"><img class="d-block w-100" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_3.jpg?v=34697" alt="Third slide"></a>
                  </div>

                     <!-- banner QC 4 -->
                  <div class="carousel-item">
                    <a href="#"><img class="d-block w-100" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_4.jpg?v=34697" alt="Four slide"></a>
                  </div>

                     <!-- banner QC 5 -->
                  <div class="carousel-item">
                    <a href="#"><img class="d-block w-100" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_5.jpg?v=34697" alt="Five slide"></a>
                  </div>

                     <!-- banner QC 6 -->
                  <div class="carousel-item">
                    <a href="#"><img class="d-block w-100" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_6.jpg?v=34697" alt="Six slide"></a>
                  </div>

                     <!-- banner QC 7 -->
                  <div class="carousel-item">
                    <a href="#"><img class="d-block w-100" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_7.jpg?v=34697" alt="Seven slide"></a>
                  </div>

                     <!-- banner QC 8 -->
                  <div class="carousel-item">
                    <a href="#"><img class="d-block w-100" src="https://theme.hstatic.net/1000026716/1000440777/14/slideshow_8.jpg?v=34697" alt="eight slide"></a>
                  </div>
                </div>
                
                  <!-- banner QC 1 -->
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>  
            <script>
                $('.carousel').carousel({
                     interval: 1000
                })
            </script>
          <!--Quảng cáo -->
                <div class="QC2" >
                    <a href="#"><img src="https://theme.hstatic.net/1000026716/1000440777/14/solid3.jpg?v=34703" alt=""></a>    
                </div>

                <div class="QC2" style="margin-left: 0.9%;">
                    <a href="#"><img src="https://theme.hstatic.net/1000026716/1000440777/14/solid4.jpg?v=34703" alt=""></a>    
                </div>

        </div>    
    <!--Nav và quảng cáo  -->     
            <div class="QC1">
                <a href="#"><img src="https://theme.hstatic.net/1000026716/1000440777/14/solid1.jpg?v=34703" alt=""></a>
            </div>
            <div class="QC1" >
                <a href="#"><img src="https://theme.hstatic.net/1000026716/1000440777/14/solid2.jpg?v=34703" alt=""> </a>   
            </div>

            <div class="QC1">
                <a href="#"><img src="https://theme.hstatic.net/1000026716/1000440777/14/solid5.jpg?v=34703" alt=""></a>    
            </div>

           
           
        

<!--Warp Main giữa-->      
        <div class ="main-between">
            <div class="QC3">
                <a href=""><img src="https://theme.hstatic.net/1000026716/1000440777/14/xxxbanner1.jpg?v=34703" alt=""></a>    
            </div>
            <div class="QC3">
                <a href=""><img src="https://theme.hstatic.net/1000026716/1000440777/14/xxxbanner2.jpg?v=34703" alt=""></a>    
            </div>
            <div class="QC3">
                <a href=""><img src="https://theme.hstatic.net/1000026716/1000440777/14/xxxbanner3.jpg?v=34703" alt=""></a>    
            </div>
            <div class="QC3">
                <a href=""><img src="https://theme.hstatic.net/1000026716/1000440777/14/xxxbanner4.jpg?v=34703" alt=""></a>    
            </div>
           

<!-- Sector 1-->
        <div class="Sector1">
            <h2>PC GEARVN - MIỄN PHÍ GIAO TOÀN QUỐC</h2>
            <a href="#">Xem tất cả <i class="fa-solid fa-chevron-right"></i></a>

        </div>

<!--Product-->        
            <div class="product1" style="margin-left: -0.04%;">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/viper_i1660s_610d90e1c8d3438bb35533c42e7a7df8_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>GVN VIPER i1660S</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -5%
                    </div>
                    <del>18,920,000đ</del><br>
                    <div class="text-info1">17,990,000₫</div>
                </div>
  
            </div>

    <!--Product 2-->  
            <div class="product1" >
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/minion_i1650_white_fa1d53072f0f4c868e2e3e3f33fcf168_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>GVN MINION i1650</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -4%
                    </div>
                    <del>18,920,000đ</del><br>
                    <div class="text-info1">11,790,000₫</div>
                </div>

            </div>

            <!--Product 3-->  
            <div class="product1">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/111_121e1c7911074629b99973a320b6c1b3_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>GVN VIPER i3060</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -2%
                    </div>
                    <del>25,510,000đ</del><br>
                    <div class="text-info1">25,000,000₫</div>
                </div>

            </div>

            <!--Product 4-->  
            <div class="product1">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/viper_i3050_tang_man_63c58a14ef4f4b679cbcfdb5a7cbfe2c_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>GVN VIPER i3050</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -4%
                    </div>
                    <del>22,810,000đ</del><br>
                    <div class="text-info1">22,000,000₫</div>
                </div>

            </div>

            <!--Product 5-->  
            <div class="product1" style="float:right">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/phantom_plus_i4080_e4b7ce237b0642a2825ebdf6cd88ef11_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>GVN PHANTOM Plus i4080</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -1%
                    </div>
                    <del>96,000,000đ</del><br>
                    <div class="text-info1">95,000,000₫</div>
                </div>

            </div>

            <!--Product 6-->  
            <div class="product1" style="margin-left: -0.04%; margin-top: 2%;">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/viper_plus_i3060_white_tang_man_f06adadf892a4f2f9a2eab901ed42559_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>GVN VIPER Plus i3060</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -3%
                    </div>
                    <del>33,920,000đ</del><br>
                    <div class="text-info1">33,000,000₫</div>
                </div>

            </div>

            <!--Product 7-->  
            <div class="product1" style=" margin-top: 2%;" >
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/1_d564f20f590543e8a7525df8b9e832f6_large.jpg" alt=""></a>
                </div>
            <div class="text-product">
                <h4>GVN VIPER Plus i3070Ti</h4>
            </div>
            <div class="info-product">
                <div class="new-product">
                            -1%
                </div>
                <del>38,520,000đ</del><br>
                <div class="text-info1">38,000,000₫</div>
            </div>

            </div>

            <!--Product 8-->  
            <div class="product1"  style=" margin-top: 2%;">
                 <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/phantom_plus_i3070_ti_26013be9b2b44a5a8d71f59e0b6b8196_large.jpg" alt=""></a>
                </div>
            <div class="text-product">
                <h4>GVN PHANTOM Plus i3070Ti</h4>
            </div>
            <div class="info-product">
                 <div class="new-product">
                    -4%
                 </div>
                <del>61,610,000đ</del><br>
                <div class="text-info1">59,000,000₫</div>
            </div>
            </div>

            <!--Product 9-->  
            <div class="product1"  style=" margin-top: 2%;">
                <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/01_a8cf6b03151b40f49de677381e6c6d54_large.jpg" alt=""></a>
            </div>
            <div class="text-product">
                <h4>GVN PHANTOM Plus i4070Ti</h4>
            </div>
                <div class="info-product">
                <div class="new-product">
                     -4%
                 </div>
                    <del>22,810,000đ</del><br>
                   <div class="text-info1">22,000,000₫</div>
            </div>

            </div>

            <!--Product 10-->  
            <div class="product1" style="float:right; margin-top: 2%;">
                <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/proart_plus_9_3090ti_new_7e4315e3fbb04271b01dfca2792a3751_large.jpg" alt=""></a>
                 </div>
            <div class="text-product">
                 <h4>GVN ProArt Plus 9 i3090Ti</h4>
            </div>
                    <div class="info-product">
                    <div class="new-product">
                         -3%
                     </div>
                     <del>86,360,000đ</del><br>
                    <div class="text-info1">84,000,000₫</div>
                    </div>
            </div>

<!-- Text-center-->
            <div class="text-center1">
                <div class="pagination1">
                    <ul class="pagination1-list">
                        <li class="hidden-phone current" style="background-color: #f8e36e;">
                            <a title="1" href="#">1</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="2" href="#">2</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="trang sau" href="#">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



<!-- Sector 2-->
           <!-- Sector 1-->
        <div class="Sector1">
            <h2>LAPTOP GAMING BÁN CHẠY</h2>
            <a href="#">Xem tất cả <i class="fa-solid fa-chevron-right"></i></a>

        </div>

<!--Product-->        
            <div class="product1" style="margin-left: -0.04%;">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/g5-ge-51vn263sh-fix_3da6856774d849cf8c80548b6ef3f0cd_c55c38c0994f498b8ded543fd86fbeb4_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop Gaming Gigabyte</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -15%
                    </div>
                    <del>25,590,000₫</del><br>
                    <div class="text-info1">21,690,000₫</div>
                </div>
  
            </div>

    <!--Product 2-->  
            <div class="product1" >
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/82s9006yvn_08d56fe39a1542d9b1ad378bb2dd0fcd_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop Lenovo IdeaPad</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -4%
                    </div>
                    <del>26,990,000₫</del><br>
                    <div class="text-info1">21,490,000₫</div>
                </div>

            </div>

            <!--Product 3-->  
            <div class="product1">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/gearvn-laptop-gaming-msi-katana-gf66-11uc-698vn-1_14ce9424be3e4c27ab5db3a956b69c38_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop gaming MSI</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -27%
                    </div>
                    <del>29,990,000đ</del><br>
                    <div class="text-info1">21,890,000₫</div>
                </div>

            </div>

            <!--Product 4-->  
            <div class="product1">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/gearvn-laptop-asus-tuf-gaming-f15-fx506lhb-hn188w-2_2cd5300c224b4c74ac58260d2e87f7f5_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop ASUS TUF</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -20%
                    </div>
                    <del>20,990,000₫</del><br>
                    <div class="text-info1">16,890,000₫</div>
                </div>

            </div>

            <!--Product 5-->  
            <div class="product1" style="float:right">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/laptop_gaming_acer_aspire_7_a715_42g_r05g_f9b4034f328d4211b9ffe51f7b1c4cbf_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop Gaming Acer</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -24%
                    </div>
                    <del>20,990,000₫</del><br>
                    <div class="text-info1">15,990,000₫</div>
                </div>

            </div>

            <!--Product 6-->  
            <div class="product1" style="margin-left: -0.04%; margin-top: 2%;">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/506hc_42cf688c2e7e4babaa009cb5f0e65ceb_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop ASUS TUF</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -23%
                    </div>
                    <del>25,990,000₫</del><br>
                    <div class="text-info1">19,990,000₫</div>
                </div>

            </div>

            <!--Product 7-->  
            <div class="product1" style=" margin-top: 2%;" >
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/r5-3050_1ca8d2e294ca4a3c8c875ac518beb714_large.png" alt=""></a>
                </div>
            <div class="text-product">
                <h4>Laptop gaming Acer</h4>
            </div>
            <div class="info-product">
                <div class="new-product">
                            -24%
                </div>
                <del>22,990,000₫</del><br>
                <div class="text-info1">17,490,000₫</div>
            </div>

            </div>

            <!--Product 8-->  
            <div class="product1"  style=" margin-top: 2%;">
                 <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/laptop_gaming_acer_nitro_5_eagle_an515_57_54mv_3e5cc4ba80be4c8595540963d469ccc3_large.jpg" alt=""></a>
                </div>
            <div class="text-product">
                <h4>Laptop gaming Acer</h4>
            </div>
            <div class="info-product">
                 <div class="new-product">
                    -19%
                 </div>
                <del>25,990,000₫</del><br>
                <div class="text-info1">20,990,000₫</div>
            </div>
            </div>

            <!--Product 9-->  
            <div class="product1"  style=" margin-top: 2%;">
                <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/773y_5364964b798144f88c6137ff9a8afc60_large.png" alt=""></a>
            </div>
            <div class="text-product">
                <h4>GVN PHANTOM Plus i4070Ti</h4>
            </div>
                <div class="info-product">
                <div class="new-product">
                     -4%
                 </div>
                    <del>22,810,000đ</del><br>
                   <div class="text-info1">22,000,000₫</div>
            </div>

            </div>

            <!--Product 10-->  
            <div class="product1" style="float:right; margin-top: 2%;">
                <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/773y_5364964b798144f88c6137ff9a8afc60_large.png" alt=""></a>
                 </div>
            <div class="text-product">
                 <h4>GVN ProArt Plus 9 i3090Ti</h4>
            </div>
                    <div class="info-product">
                    <div class="new-product">
                         -12%
                     </div>
                     <del>32,990,000₫</del><br>
                    <div class="text-info1">28,990,000₫</div>
                    </div>
            </div>

            <!--Laptop bán chạy-->
<!-- Text-center-->
            <div class="text-center1">
                <div class="pagination1">
                    <ul class="pagination1-list">
                        <li class="hidden-phone current" style="background-color: #f8e36e;">
                            <a title="1" href="#">1</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="2" href="#">2</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="trang sau" href="#">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
     
<!-- Sector 4-->
            <!-- Sector 1-->
        <div class="Sector1">
            <h2>LAPTOP BÁN CHẠY</h2>
            <a href="#">Xem tất cả <i class="fa-solid fa-chevron-right"></i></a>

        </div>

<!--Product-->        
            <div class="product1" style="margin-left: -0.04%;">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/gearvn-laptop-asus-vivobook-15x-oled-a1503za-l1422w-1_7883b4cbe6d84d64a9b1ca4a9ed90f01_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop Asus </h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -13%
                    </div>
                    <del>20,790,000₫</del><br>
                    <div class="text-info1">17,990,000₫</div>
                </div>
  
            </div>

    <!--Product 2-->  
            <div class="product1" >
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/gearvn-laptop-msi-modern-14-c11m-011vn-1_d693b8ae9c1f45e2a77617e07d4634d4_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop MSI Modern</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -19%
                    </div>
                    <del>14,190,000₫</del><br>
                    <div class="text-info1">11,490,000₫</div>
                </div>

            </div>

            <!--Product 3-->  
            <div class="product1">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/gearvn-laptop-lenovo-ideapad-1-15amn7-82vg0022vn-1_a27e87f1ca374e9f9f9706b46f522bf2_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop Lenovo</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -27%
                    </div>
                    <del>18,990,000₫</del><br>
                    <div class="text-info1">12,490,000₫</div>
                </div>

            </div>

            <!--Product 4-->  
            <div class="product1">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/1065vn_4a6d489fcc3d4afc94e2316e7d280cb0_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop MSI</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -33%
                    </div>
                    <del>21,990,000₫</del><br>
                    <div class="text-info1">14,790,000₫</div>
                </div>

            </div>

            <!--Product 5-->  
            <div class="product1" style="float:right">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/v3i7005w-fix_2c4eb0882c0e4e3a8f07695f511797f4_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop Dell</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -9%
                    </div>
                    <del>28,990,000₫</del><br>
                    <div class="text-info1">26,490,000₫</div>
                </div>

            </div>

            <!--Product 6-->  
            <div class="product1" style="margin-left: -0.04%; margin-top: 2%;">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/82l300m9vn_1328f6b2bcf34a129007923a137fb9a7_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Laptop Lenovo</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -24%
                    </div>
                    <del>22,990,000₫</del><br>
                    <div class="text-info1">17,490,000₫</div>
                </div>

            </div>

            <!--Product 7-->  
            <div class="product1" style=" margin-top: 2%;" >
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/gearvn-laptop-asus-vivobook-15x-oled-a1503za-l1152w-1_1b01ed20a41740a6a0d0d2d82780e97a_large.png" alt=""></a>
                </div>
            <div class="text-product">
                <h4>Laptop Asus Vivobook</h4>
            </div>
            <div class="info-product">
                <div class="new-product">
                            -12%
                </div>
                <del>16,990,000₫</del><br>
                <div class="text-info1">14,990,000₫</div>
            </div>

            </div>

            <!--Product 8-->  
            <div class="product1"  style=" margin-top: 2%;">
                 <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/khung-lt-van-phong_8a50518369b445f9a7adf816ceb90d6a_large.png" alt=""></a>
                </div>
            <div class="text-product">
                <h4>Laptop Asus ZenBook</h4>
            </div>
            <div class="info-product">
                 <div class="new-product">
                    -25%
                 </div>
                <del>27,990,000₫</del><br>
                <div class="text-info1">20,990,000₫</div>
            </div>
            </div>

            <!--Product 9-->  
            <div class="product1"  style=" margin-top: 2%;">
                <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/gearvn-laptop-asus-vivobook-14x-oled-a1403za-km067w-1_3c57a7dbeb8d40619f4794c19c17a694_large.png" alt=""></a>
            </div>
            <div class="text-product">
                <h4>Laptop ASUS Vivobook</h4>
            </div>
                <div class="info-product">
                <div class="new-product">
                     -4%
                 </div>
                    <del>22,810,000đ</del><br>
                   <div class="text-info1">22,000,000₫</div>
            </div>

            </div>

            <!--Product 10-->  
            <div class="product1" style="float:right; margin-top: 2%;">
                <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/gearvn-laptop-asus-vivobook-oled-m1503qa-l1044w-1_4b922183b924494898e421472f0faec2_large.png" alt=""></a>
                 </div>
            <div class="text-product">
                 <h4>Laptop ASUS Vivobook</h4>
            </div>
                    <div class="info-product">
                    <div class="new-product">
                         -14%
                     </div>
                     <del>19,290,000₫</del><br>
                    <div class="text-info1">16,990,000₫</div>
                    </div>
            </div>

       
<!-- Sector 5-->
                 <!-- MÀN HÌNH KHUYẾN MÃI HOT - GIAO HÀNG MIỄN PHÍ-->
           <!-- Sector 1-->
        <div class="Sector1" style="margin-top: 3%;">
            <h2>MÀN HÌNH KHUYẾN MÃI HOT - GIAO HÀNG MIỄN PHÍ</h2>
            <a href="#">Xem tất cả <i class="fa-solid fa-chevron-right"></i></a>

        </div>

<!--Product-->        
            <div class="product1" style="margin-left: -0.04%;">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/lg_27gn60r-b_gearvn_4105f9d202f64dfa88642910e5ada099_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Màn hình LG 27GN60R</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -12%
                    </div>
                    <del>5,790,000₫</del><br>
                    <div class="text-info1">5,090,000₫</div>
                </div>
  
            </div>

    <!--Product 2-->  
            <div class="product1" >
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/3_3939fb9772b54f209ce7b23be9b1383d_ead513e04b3a4c819a749d5175ae9602_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Màn hình Viewsonic</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -9%
                    </div>
                    <del>3,190,000₫</del><br>
                    <div class="text-info1">2,890,000₫</div>
                </div>

            </div>

            <!--Product 3-->  
            <div class="product1">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/lg_22mp410-b_gearvn_cc05f58c7b9e41eea8a5d05664dbb5b0_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Màn hình LG 22MP410-B</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -13%
                    </div>
                    <del>3,090,000₫</del><br>
                    <div class="text-info1">2,690,000₫
                    </div>
                </div>

            </div>

            <!--Product 4-->  
            <div class="product1">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/dell_s2721hn_gearvn_79daa2e1ca55486abd8174aec47d0ca6_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Màn hình Dell S2721HN</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -5%
                    </div>
                    <del>6,390,000₫</del><br>
                    <div class="text-info1">6,090,000₫</div>
                </div>

            </div>

            <!--Product 5-->  
            <div class="product1" style="float:right">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/dell_s2421hn_gearvn_1d313fc781af4959a1b83ef2a06766ec_large.jpg" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Màn hình Dell S2421HN</h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -10%
                    </div>
                    <del>4,790,000₫</del><br>
                    <div class="text-info1">4,290,000₫</div>
                </div>

            </div>

            <!--Product 6-->  
            <div class="product1" style="margin-left: -0.04%; margin-top: 2%;">
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/gigabyte_g24f_2_gearvn_bc7aac7da42c448bb4b19f63a6dd4706.jpg_4f00b41129bf4d14af85c9ddc93e99fe_large.png" alt=""></a>
                </div>
                <div class="text-product">
                    <h4>Màn hình GIGABYTE </h4>
                </div>
                <div class="info-product">
                    <div class="new-product">
                        -35%
                    </div>
                    <del>5,990,000₫</del><br>
                    <div class="text-info1">3,900,000₫</div>
                </div>

            </div>

            <!--Product 7-->  
            <div class="product1" style=" margin-top: 2%;" >
                <div class="img-product">
                    <a href="#"><img src="https://product.hstatic.net/1000026716/product/ps-165hz-gsync-compatible-chuyen-game_b0fbfe425ebc40739fc163c018199f69_e50b4c2cdaea4efcad7703ef74b7d0c6_large.jpg" alt=""></a>
                </div>
            <div class="text-product">
                <h4>Màn hình Asus TUF GAMING</h4>
            </div>
            <div class="info-product">
                <div class="new-product">
                            -38%
                </div>
                <del>6,390,000₫</del><br>
                <div class="text-info1">3,990,000₫</div>
            </div>

            </div>

            <!--Product 8-->  
            <div class="product1"  style=" margin-top: 2%;">
                 <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/lg_24mp400_gearvn_239078b91e2f481d9341da70a8d98404_1e72036d48854264971664acae3e8efe_large.jpg" alt=""></a>
                </div>
            <div class="text-product">
                <h4>Màn hình LG 24MP400-B </h4>
            </div>
            <div class="info-product">
                 <div class="new-product">
                    -23%
                 </div>
                <del>4,090,000₫</del><br>
                <div class="text-info1">3,150,000₫</div>
            </div>
            </div>

            <!--Product 9-->  
            <div class="product1"  style=" margin-top: 2%;">
                <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/-asus-vz24ehe-24-ips-75hz-vien-mong-1_6be46c48687644689462ccad2ca5acdf_4da5f869885a453eadbf4cc0fba3cef0_large.jpg" alt=""></a>
            </div>
            <div class="text-product">
                <h4>Màn hình ASUS VZ24EHE 24</h4>
            </div>
                <div class="info-product">
                <div class="new-product">
                     -36%
                 </div>
                    <del>4,490,000₫</del><br>
                   <div class="text-info1">2,890,000₫ </div>
            </div>

            </div>

            <!--Product 10-->  
            <div class="product1" style="float:right; margin-top: 2%;">
                <div class="img-product">
                     <a href="#"><img src="https://product.hstatic.net/1000026716/product/viewsonic_vx2405-p_gearvn_6ca31465cc61460ba47f977447adc5fe_c83228a003e0432a8b5e8166105e05ca_large.jpg" alt=""></a>
                 </div>
            <div class="text-product">
                 <h4>Màn hình ViewSonic</h4>
            </div>
                    <div class="info-product">
                    <div class="new-product">
                         -37%
                     </div>
                     <del>5,690,000₫</del><br>
                    <div class="text-info1">3,590,000₫
                    </div>
                    </div>
            </div>

<!-- Text-center-->
            <div class="text-center1">
                <div class="pagination1" style="width:20% ;">
                    <ul class="pagination1-list" >
                        <li class="hidden-phone current" style="background-color: #f8e36e;">
                            <a title="1" href="#">1</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="2" href="#">2</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="3" href="#">3</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="4" href="#">...</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="6" href="#">6</a>
                        </li>
                        <li class="hidden-phone current">
                            <a title="trang sau" href="#">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        

  <!--BÀN PHÍM KHUYẾN MÃI HOT - GIAO HÀNG MIỄN PHÍ-->          

<!-- Sector 1-->
<div class="Sector1">
<h2>BÀN PHÍM KHUYẾN MÃI HOT - GIAO HÀNG MIỄN PHÍ</h2>
<a href="#">Xem tất cả <i class="fa-solid fa-chevron-right"></i></a>

</div>

<!--Product-->        
<div class="product1" style="margin-left: -0.04%;">
    <div class="img-product">
        <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumbphim-recovered_4da00fd0703e4dca9c8c6fe826b9074b_large.gif" alt=""></a>
    </div>
    <div class="text-product">
        <h4>Bàn phím cơ Fuhlen</h4>
    </div>
    <div class="info-product">
        <div class="new-product">
            -11%
        </div>
        <del>890,000₫</del><br>
        <div class="text-info1">790,000₫</div>
    </div>

</div>

<!--Product 2-->  
<div class="product1" >
    <div class="img-product">
        <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumbphim-recovered_75cf14850d4247789be5a1763968f569_large.gif" alt=""></a>
    </div>
    <div class="text-product">
        <h4>Bàn phím cơ AKKO MOD007</h4>
    </div>
    <div class="info-product">
        <div class="new-product">
            -4%
        </div>
        <del>2,599,000₫</del><br>
        <div class="text-info1">2,490,000₫</div>
    </div>

</div>

<!--Product 3-->  
<div class="product1">
    <div class="img-product">
        <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumbphim_a782e6979e0d437895af75c76499da29_large.gif" alt=""></a>
    </div>
    <div class="text-product">
        <h4>Bàn phím cơ AKKO 3108</h4>
    </div>
    <div class="info-product">
        <div class="new-product">
            -7%
        </div>
        <del>1,599,000₫</del><br>
        <div class="text-info1">1,490,000₫</div>
    </div>

</div>

<!--Product 4-->  
<div class="product1">
    <div class="img-product">
        <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumbphim_58513fa145114b63a6139b4dcc08bda5_large.gif" alt=""></a>
    </div>
    <div class="text-product">
        <h4>Bàn phím cơ AKKO 3108</h4>
    </div>
    <div class="info-product">
        <div class="new-product">
            -7%
        </div>
        <del>1,599,000₫</del><br>
        <div class="text-info1">1,490,000₫</div>
    </div>

</div>

<!--Product 5-->  
<div class="product1" style="float:right">
    <div class="img-product">
        <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumbphim_62954efae38d49978b599d7e9405b5a1_large.gif" alt=""></a>
    </div>
    <div class="text-product">
        <h4>Bàn phím cơ AKKO 3087</h4>
    </div>
    <div class="info-product">
        <div class="new-product">
            -7%
        </div>
        <del>1,499,000₫</del><br>
        <div class="text-info1">1,390,000₫</div>
    </div>

</div>

<!--Product 6-->  
<div class="product1" style="margin-left: -0.04%; margin-top: 2%;">
    <div class="img-product">
        <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumbphim_397520cac92a479ebfb0d1541293e513_large.gif" alt=""></a>
    </div>
    <div class="text-product">
        <h4>Bàn phím cơ AKKO 3087 </h4>
    </div>
    <div class="info-product">
        <div class="new-product">
            -7%
        </div>
        <del>1,499,000₫</del><br>
        <div class="text-info1">1,390,000₫</div>
    </div>

</div>

<!--Product 7-->  
<div class="product1" style=" margin-top: 2%;" >
    <div class="img-product">
        <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumb-co-spec-recovered_8684c665637c409c9f1f73f5ef00c503_large.gif" alt=""></a>
    </div>
<div class="text-product">
    <h4>Màn hình Asus TUF GAMING</h4>
</div>
<div class="info-product">
    <div class="new-product">
                -38%
    </div>
    <del>6,390,000₫</del><br>
    <div class="text-info1">3,990,000₫</div>
</div>

</div>

<!--Product 8-->  
<div class="product1"  style=" margin-top: 2%;">
     <div class="img-product">
         <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumb-co-spec-recovered_fbf3e0290cd54392b870885e9030a086_large.gif" alt=""></a>
    </div>
<div class="text-product">
    <h4>Bàn phím Leopold FC900RBT </h4>
</div>
<div class="info-product">
     <div class="new-product">
        -4%
     </div>
    <del>3,750,000₫</del><br>
    <div class="text-info1">3,250,000₫</div>
</div>
</div>

<!--Product 9-->  
<div class="product1"  style=" margin-top: 2%;">
    <div class="img-product">
         <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumb-co-spec-recovered_8684c665637c409c9f1f73f5ef00c503_large.gif" alt=""></a>
</div>
<div class="text-product">
    <h4>Bàn phím Leopold FC750RBT</h4>
</div>
    <div class="info-product">
    <div class="new-product">
         -3%
     </div>
        <del>3,750,000₫</del><br>
       <div class="text-info1">3,450,000₫</div>
</div>

</div>

<!--Product 10-->  
<div class="product1" style="float:right; margin-top: 2%;">
    <div class="img-product">
         <a href="#"><img src="https://product.hstatic.net/1000026716/product/thumb-co-spec-recovered_8684c665637c409c9f1f73f5ef00c503_large.gif" alt=""></a>
     </div>
<div class="text-product">
     <h4>Bàn phím Leopold FC660M</h4>
</div>
        <div class="info-product">
        <div class="new-product">
             -3%
         </div>
         <del>3,250,000₫</del><br>
        <div class="text-info1">3,050,000₫
        </div>
        </div>
</div>

        <!-- Text-center-->
        <div class="text-center1">
            <div class="pagination1" style="width:20% ;">
                <ul class="pagination1-list" >
                    <li class="hidden-phone current" style="background-color: #f8e36e;">
                        <a title="1" href="#">1</a>
                    </li>
                    <li class="hidden-phone current">
                        <a title="2" href="#">2</a>
                    </li>
                    <li class="hidden-phone current">
                        <a title="3" href="#">3</a>
                    </li>
                    <li class="hidden-phone current">
                        <a title="4" href="#">...</a>
                    </li>
                    <li class="hidden-phone current">
                        <a title="6" href="#">30</a>
                    </li>
                    <li class="hidden-phone current">
                        <a title="trang sau" href="#">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div> 
        
    <!--Container main-->          
            <div class="container-main1">
                <div class="get-email">
                    <div class="introleft">
                      <a> Mua hàng online với nhiều ưu đãi hơn tại GEARVN</a>
                    </div>

                    <div class="introright">
                        <input type="text" class="form-control" name="contract[email]" id="your_email" placeholder="Nhập email của bạn">
                        <span class="input-group-btn">
                            <button name=" " id="" class="btn btn-default" type="submit">Đăng ký</button>
                        </span>
                    </div>
                </div>
            </div>
 <!--DIV END MAIN-->       
    </div>  



