#container {
    overflow: hidden;
  }
   
  #inner {
    overflow: hidden;
    margin-left: 4%;
  }
   
  .child {
    float: left;
    padding: 25px 25px;
    margin: 5px 15px;
    border: 1px solid rgb(204, 198, 198);
    border-radius: 15%;
}
p {
    text-align: center;
}
button.btn.btn-danger {
    margin-left: 35%;
}
