<footer>
    <div class="footer">

        <!--information 1-->
        <div class="information">
            <h3>CÔNG TY TNHH THƯƠNG MẠI GEARVN</h3>
            <h3>EMAIL: CSKH@GEARVN.COM</h3>
            <p style="font-size:14px; float: left;">
                <b>HỆ THỐNG TỔNG ĐÀI MIỄN PHÍ:</b>
                     (Làm việc từ 08h00 - 21h00)
            </p>

            <tr>
                <td style="width: 250px;  margin-left: -18%;">Gọi mua hàng :</td>
                <td style="width: 105px;">
                    <strong>1800 6975</strong>
                </td>
              
            </tr>
            <tr>
                <td style="width: 211px;  margin-left: -7%;">Hỗ trợ khách hàng :</td>
                <td style="width: 105px;">
                    <strong>1800 6137</strong>
                </td>
              
            </tr>
            <a href="https://gearvn.com/pages/chinh-sach-bao-hanh" style="font-size: 16px; color: #0655a6; font-weight: bold; margin-top: 5%;">Chính sách bảo hành</a><br><br><br>
            <a href="https://gearvn.com/pages/chinh-sach-bao-hanh" style="font-size: 16px; color: #0655a6; font-weight: bold;">Chính sách thanh toán</a><br><br>
            <a href="https://gearvn.com/pages/chinh-sach-bao-hanh" style="font-size: 16px; color: #0655a6; font-weight: bold;">Chính sách giao hàng</a><br><br>
            <a href="https://gearvn.com/pages/chinh-sach-bao-hanh" style="font-size: 16px; color: #0655a6; font-weight: bold;">Chính sách bảo mật</a>

            <a href="">
                <img src="https://theme.hstatic.net/1000026716/1000440777/14/20150827110756-dathongbao.png" style="max-width: 300px; margin-top: 8%;">
            </a>
        </div>

        <!--information 2-->
            <div class="information2">
                <a href="https://gearvn.com/pages/chinh-sach-bao-hanh" style="font-size: 18px; color: #0655a6; font-weight: bold; margin-left: 2%;">Hệ thống cửa hàng</a><br><br>
                <p style="font-size:14px; float: left;">
                    <b>SHOWROOM HCM:</b>
                         (Làm việc từ 08h00 - 21h00)
                </p>
                
                <p style="font-size:14px; float: left;">
                    - Địa chỉ 1: 78-80-82 Hoàng Hoa Thám, Phường 12, Quận Tân Bình.
                </p>
                <p style="font-size:14px; float: left;">
                    - Địa chỉ 2: 905 Kha Vạn Cân, Phường Linh Tây, Thành phố Thủ Đức.
                </p>
                <p style="font-size:14px; float: left;">
                    - Địa chỉ 3: 1081 - 1083 Trần Hưng Đạo, Phường 5, Quận 5.
                </p>
                <p style="font-size:14px; float: left;">
                    - Địa chỉ 4: 415 An Dương Vương, Phường 10, Quận 6.
                </p>

                <p style="font-size:14px; float: left;">
                    <b>SHOWROOM HN:</b>
                         (Làm việc từ 08h00 - 21h00)
                </p>
                
                <p style="font-size:14px; float: left;">
                    - Địa chỉ 1: 162 - 164 Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội
                </p>
                <p style="font-size:14px; float: left;">
                    - Địa chỉ 2: 460 Minh Khai, Phường Vĩnh Tuy, Quận Hai Bà Trưng, Hà Nộ
                </p>

                <a href="https://gearvn.com/pages/chinh-sach-bao-hanh" style="font-size: 18px; color: #0655a6; font-weight: bold; margin-left: 2%;">TRUNG TÂM BẢO HÀNH:</a><br><br>
                <p style="font-size:14px; float: left;">
                    - Địa chỉ : 436A/71 đường 3/2, Phường 12, Quận 10, Hồ Chí Minh.
                </p>
                <p style="font-size:14px; float: left;">
                    Mua <a href="#">PC Gaming, laptop gaming, card màn hình, màn hình máy tính, ghế gaming </a>, thiết bị chơi game như PS5 hàng đầu Việt Nam bảo hành chính hãng. Mua online nhận ưu đãi hấp dẫn với nhiều chương trình đặc biệt như Black Friday, G-Fest
                </p>
                
                <p style="font-size:14px; float: left;">
                    - Công ty TNHH Thương Mại Gearvn
                </p>
                <p style="font-size:14px; float: left;">
                    - GPKD số 0316517394 do Sở KH và ĐT TP Hồ Chí Minh cấp ngày 01/10/2020
                </p>
                <p style="font-size:14px; float: left;">
                    - GĐ/Sở hữu website: Nguyễn Thế Anh
                </p>

                <img src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=65147526-7602-46be-9047-e8c33f9fcbd3" alt="" >
            </div>



        <div class="information3">
            <h3>FANPAGE</h3><br><br>
            <p style="font-size:14px; float: left;">
                <b><br><br>Hãy truy cập vào FANPAGE :</b>
                   
            </p>
           
                <div class="img-footer">
                       <a href="https://www.facebook.com/gearvnhcm/"><img src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-1/299828745_2149865795186558_7764138146005553525_n.jpg?stp=cp0_dst-jpg_p74x74&_nc_cat=1&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=fNz82ISPzZYAX-yk75w&_nc_ht=scontent.fsgn5-9.fna&edm=ANTofVoEAAAA&oh=00_AfCGnV2fYVt48kUlKzwVMw61Z06f7nTW0m96cixaZpwQew&oe=640504DE" alt=""></a> 
                </div>

        </div>
        
      
      
<!--End div footer-->
    </div>
   
   
   
</footer>    